In [ ]:
import pandas as pd

df1 = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2.2.6_df1.csv', index_col=0)
df2 = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2.2.6_df2.csv', index_col=0)

# Учтите, что user_white_list и car_black_list в тестовой системе будут иметь другую длину и другие значения
user_white_list = ['g10995906g', 'H90312511Q', 'C27138482L', 'H22518078t', 'n17438464n', 'F10525768e', 's15596151o', 'i18954748S', 'E84048392U', 'E69893354s']
car_black_list = ['l-4285389z', 'n79502261g', 'N-1839822D']

# В ans содержится правильный ответ. Перед отправкой своего решения, сравнитесь с ним.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_6_ans.csv', index_col=0)

In [ ]:
new_df = pd.concat([df1, df2])

In [ ]:
result =new_df.loc[(new_df.rating > 4) & ((new_df.stop_times ==2) | (new_df.stop_times == 3) | (new_df.stop_times == 5))]

In [ ]:
mask1 = result['car_id'].isin(car_black_list)
mask2 = result['user_id'].isin(user_white_list)

In [ ]:
result = result[~mask1 & mask2]

In [ ]:

result = result[result.index % 2 == 0]

In [ ]:
url ='https://raw.githubusercontent.com/a-milenkin/Competitive_Data_Science/main/data/driver_info.csv'

In [ ]:
df = pd.read_csv(url)

In [ ]:
df

In [18]:
mask1 = df.user_time_accident.between(4.5 ,9 , inclusive = 'right')
mask2 = df.age < 40

In [25]:
df = df[mask1 & mask2]

C:\Users\Dimon\AppData\Local\Temp\ipykernel_41416\3965308038.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = df[mask1 & mask2]

In [27]:
df.user_id.value_counts().sum()

2478

In [30]:
import pandas as pd

df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_8.csv')

# В ans содержится правильный ответ. Перед отправкой своего решения, сравнитесь с ним.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_8_ans.csv', index_col=0)

In [31]:
df['tripple_accident'] = df['user_time_accident'] * 3

In [35]:
df['rides_on_rating'] = df.user_rides / df.user_rating

In [36]:
df

,user_id,user_rating,age,user_rides,user_time_accident,tripple_accident,rides_on_rating
0,f59331553m,7.7,29,99,4.0,12.0,12.857143
1,H50364497o,7.8,26,121,0.0,0.0,15.512821
2,A14869258v,7.3,34,557,2.0,6.0,76.301370
3,E10711310m,8.4,33,322,39.0,117.0,38.333333
4,i54390205y,8.7,18,59,22.0,66.0,6.781609
...,...,...,...,...,...,...,...
95,f43739690G,8.0,25,357,10.0,30.0,44.625000
96,h51181620d,7.2,22,1421,13.0,39.0,197.361111
97,l15352881X,8.0,25,2,14.0,42.0,0.250000
98,k83620654u,8.5,27,156,5.0,15.0,18.352941
99,u47521230x,8.9,18,951,8.0,24.0,106.853933

In [42]:
df = df[df.user_time_accident > 25]

,user_id,user_rating,age,user_rides,user_time_accident,tripple_accident,rides_on_rating
3,E10711310m,8.4,33,322,39.0,117.0,38.333333
37,b40165883m,8.5,18,2240,56.0,168.0,263.529412
64,t25217963K,8.0,30,101,72.0,216.0,12.625000

In [43]:
df = df[df.age > df.age.mean()]

In [44]:
df

,user_id,user_rating,age,user_rides,user_time_accident,tripple_accident,rides_on_rating
3,E10711310m,8.4,33,322,39.0,117.0,38.333333
64,t25217963K,8.0,30,101,72.0,216.0,12.625000

In [88]:
import pandas as pd

df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_10.csv')

# Учтите, что new_index, new_data, del_index_list, index в тестовой системе будут иметь другие значения
new_index = 50
new_data = ['new_car_id', 'new_worker_id', '2019-11-11 4:44','refuel_check', 3.5, 10]
del_index_list = [41, 18, 33, 7, 46]
index = 22


# В ans содержится правильный ответ. Перед отправкой своего решения, сравнитесь с ним.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_10_ans.csv')

- Добавьте новую строку (с индексом new_index:(int / str) и значениями new_data:list).
- Удалите строки с индексами из списка del_index_list: list.
- Увеличьте значение destroy_degree на 1 в строке с индексом равным index. Переменная index содержит индекс строки ИЛИ число (индекс).
- Удалите столбец fix_date, т.к. не стоит сейчас думать о времени.
- Создайте новый столбец efficient, который равен destroy_degree деленный на work_duration.
- Возведите столбец work_duration в квадрат.
- Переименуйте столбец work_duration в work_duration_square.
Удалите дубликаты по столбцу car_id.

In [102]:
df

,car_id,worker_id,work_type,destroy_degree,work_duration_square,efficient
0,C-8860661H,BM,reparking,1.0,784,0.035714
1,Z76775340d,IL,repair,8.4,2304,0.175000
2,r12485993Y,HN,reparking,1.0,441,0.047619
3,Z-1382353b,VX,repair,5.7,169,0.438462
4,p14707024B,JP,refuel_check,1.0,441,0.047619
5,f-1883871J,LJ,repair,5.5,625,0.220000
6,F-1518753o,ET,repair,5.0,289,0.294118
8,F13192545Q,UY,repair,4.3,100,0.430000
9,H12617664T,MV,refuel_check,1.0,676,0.038462
10,V-2109665o,DH,repair,4.9,196,0.350000
11,L45819441T,ND,repair,3.9,9,1.300000
12,z48466812V,OX,reparking,1.0,441,0.047619
13,e-2154304r,RT,reparking,1.0,400,0.050000
14,Q-3414660J,SZ,repair,4.6,100,0.460000
15,n-2248103n,JL,reparking,1.0,841,0.034483
16,o90119190V,ZY,reparking,1.0,729,0.037037
17,K-1010636S,KB,repair,5.2,289,0.305882
19,h-1344515n,YJ,reparking,1.0,676,0.038462
20,b-1448976u,QW,repair,6.9,1521,0.176923
21,E-1829228V,MD,repair,3.8,25,0.760000
22,m-8965256V,XS,refuel_check,2.0,400,0.100000
23,I-1538597J,RC,repair,5.8,484,0.263636
24,n28625799A,WP,refuel,1.0,676,0.038462
25,b-4266665E,MZ,reparking,1.0,289,0.058824
26,v-1209318r,QN,reparking,1.0,484,0.045455
27,h12427301o,WN,refuel,1.0,784,0.035714
28,z-7198780T,RN,repair,10.0,2304,0.208333
29,b-1441595E,SG,repair,4.5,9,1.500000
30,n31468349R,VW,reparking,1.0,576,0.041667
31,Z95207161f,UJ,repair,10.0,2304,0.208333
32,n31468349R,IP,reparking,8.0,1681,0.195122
34,a10698807I,CS,repair,7.0,729,0.259259
35,p81056764h,VY,reparking,1.0,841,0.034483
36,K-1436228o,QH,repair,5.0,196,0.357143
37,P62164543W,HC,repair,6.8,1156,0.200000
38,c-1411220k,IJ,refuel,1.0,729,0.037037
39,B13169162p,CY,reparking,9.0,2809,0.169811
40,j51305093b,HP,reparking,1.0,784,0.035714
42,v34523863p,FN,reparking,1.0,961,0.032258
43,H97221372X,OW,refuel_check,1.0,289,0.058824
44,l17843143j,XN,repair,5.5,361,0.289474
45,j-1549044A,ZF,refuel,5.0,2209,0.106383
47,B18597537S,NR,reparking,1.0,676,0.038462
48,H29930196K,NF,repair,5.0,225,0.333333
49,p-2255017N,MN,repair,7.7,1764,0.183333
50,new_car_id,new_worker_id,refuel_check,3.5,100,0.350000

In [89]:
df.loc[new_index] = new_data

In [91]:
df.drop(del_index_list , axis = 0, inplace = True)

In [93]:
df.loc[index, 'destroy_degree'] = df.loc[index, 'destroy_degree'] + 1

In [95]:
df.drop('fix_date', axis = 1, inplace = True)

In [97]:
df['efficient'] = df['destroy_degree'] / df['work_duration']

In [99]:
df.work_duration = df['work_duration'] ** 2

In [101]:
df.rename(columns = {'work_duration':'work_duration_square'}, inplace = True)

In [103]:
df = df.drop_duplicates('car_id', keep = 'first')

In [65]:
import pandas as pd

df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2.2.11.csv')

# Учтите, что sort_by_list, cols2drop, columns_order_list в тестовой системе будут иметь другие значения.
sort_by_list = ['car_rating', 'riders']
cols2drop = ['random_name_1', 'target_reg', 'target_class', 'random_name_2']
columns_order_list = ['model', 'car_type', 'car_id', 'car_rating', 'year_to_start', 'year_to_work', 'riders', 'fuel_type']
critical_car_rating = 2

# В ans содержится правильный ответ. Перед отправкой своего решения, сравнитесь с ним.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_11_ans.csv', index_col=0)

Задача:

- Отсортируйте строки сначала по убыванию 1-го столбца из списка sort_by_list, затем по возрастанию 2-го столбца из списка.
- Удалите столбцы из списка cols2drop с учетом того, что некоторых столбцов может не быть в df.
- Сделайте порядок столбцов в df в соответствии с переменной columns_order_list: List[str].
- Удалите строки, в которых car_rating < critical_car_rating.
- Удалите строки, где число поездок riders больше 10_000, или тип машины car_type относится либо к standart, либо к economy.

In [75]:
df

,model,car_type,car_id,car_rating,year_to_start,year_to_work,riders,fuel_type
54,Kia Sportage,standart,w13418612e,4.28,2011,2014,4,petrol
208,Kia Rio X,economy,J20243122o,4.44,2011,2016,629,petrol
126,Renault Kaptur,standart,Q50389908q,4.02,2011,2018,656,petrol
261,Kia Rio X,economy,d-5544396q,3.82,2011,2015,685,petrol
69,Kia Rio,economy,L-1528963w,4.72,2011,2017,925,petrol
...,...,...,...,...,...,...,...,...
77,Skoda Rapid,economy,Z21148829c,3.78,2017,2022,128013,petrol
246,VW Tiguan,economy,r-2272437U,4.88,2017,2017,131753,petrol
58,Audi A3,premium,Y11193447p,4.08,2017,2017,131844,petrol
90,VW Tiguan,economy,R-1948335X,4.56,2017,2018,132381,petrol
75,Smart ForFour,economy,v-2217035r,5.64,2017,2018,132476,petrol

In [67]:
df = df.sort_values(by = [sort_by_list[0]], ascending = [False])

In [68]:
df = df.sort_values(by = [sort_by_list[1]], ascending = [True])

In [69]:
df = df.drop(cols2drop, axis = 1, errors='ignore')

In [70]:
df = df[columns_order_list]

In [72]:
mask1 = df['car_rating'] < critical_car_rating
mask2 = df['riders'] > 10_000 | df['car_type'].isin(['standart', 'economy'])

In [74]:
df = df.drop(mask1 & mask2, axis = 0)

KeyError: '[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False] not found in axis'

In [3]:
ans

,model,car_type,car_id,car_rating,year_to_start,year_to_work,riders,fuel_type
4,Mini Cooper,business,i-4390733F,4.96,2012,2018,1007,petrol
295,Mini Cooper,business,b34607341j,4.04,2011,2018,2740,petrol

In [51]:
print(df)

None